<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <meta charset="utf-8">
  </head>
    <body>
        <div class="container-fluid">
            <div class="ex">
                <div>
                    <a href="{% url 'main' %}"><img src="{% static 'img/logo.png' %}" alt="logo" width="auto" height="100px"></a>
                </div>
                <div class="nav1">
                    {% if user.is_authenticated %}
                        <li class="al">{{user.username}}님 환영합니다.</li>
                        <a href="{% url 'logout' %}"><li>로그아웃</li></a>
                    {% else %}
                        <a href="{% url 'register' %}"><li>회원가입</li></a>
                        <a href="{% url 'login' %}"><li>로그인</li></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>