{% extends 'html/base.html' %}
{% load staticfiles %}
{% block stylesheet %}{% static "css/post.css" %}{% endblock %}
{% block title %}글작성{% endblock %}
    <script type="text/javascript">
        $(function() {
            $("#iam").on('change', function(){
                readURL(this);
            });
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                    $('#vie').attr('src', e.target.result);
                }
              reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
{% block content %}
    <div class="container">
      <div id="black" class="center-block">
        <div id="box" class="">
          <div id="box1">
              <div id="fo">
                <input id="iam" type="file"accept="image/gif, image/jpeg, image/png">
              </div>
              <div class="center-block" id="im">
                <img class="img-responsive center-block" class="plu" id="vie"></div>
            </div>
            <div id="bbt" class="center-block">
                <form method="POST">
              <button id="bbbt" type="submit">글길 올리기</button>
            </div>
          </div>
          <div id="box2" class="center-block">
            <div id="box3">
              <div class="center-block" class="in">
                  {% csrf_token %}
                  {{ form.as_p }}
              </div>
              <div class="" class ="te">
                
              </div>
            </div>
          </div>
      </form>
      </div>
    </div>
    {% endblock %}