{% extends 'html/base.html' %}
{% load staticfiles %}

{% block stylesheet %}{% static "css/register.css" %}{% endblock %}
{% block title %}로그인{% endblock %}

{% block content %}
    <div class="container">
        <div class="center-block" id="box">
            <div class="center-block" id="box1"></div>
        </div>
        <div class="center-block" id="box2">
            <div id="con1">
            <p id="join">회원가입</p>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in signup_form %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            
                {% if signup_form.non_field_errors %}
                    {% for error in login_form.non_field_errors %}
                        <p class="text-danger"><b>{{ error }}</b></p>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="con2">
                <button type="submit" id="bu">회원가입</button>
            </div>
            </form>
        </div>
      </div>
    </div>
{% endblock %}