{% extends 'html/base.html' %}
{% load staticfiles %}

{% block stylesheet %}{% static "css/main.css" %}{% endblock %}
{% block title %}글길{% endblock %}

{% block content %}
  <div class="container-fluid" id="con">
    <div id="im">
        <div class="center-block" id="box">
          <form method="GET">
            {% csrf_token %}
            <input type="text" name="sear" value="{{ sear }}">
            <button type="submit">검색</button>
          </form>
          <div class="g_btu">
            {% if user.is_authenticated %}
            <a class="but" href="{% url 'post' %}"><button class="button">글쓰기</button></a>
            <a href="{% url 'detail' %}"><button class="button">글목록</button></a>
            {% else %}
            <a href="{% url 'detail' %}"><button class="button">글목록</button></a>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
  <div class="spac"></div>
  {% if sear %}
    <div class="container">
      <p class="r_sear">검색결과</p>
        <div class="row">
            {% for list in post %}
                <div class="col-sm-4">
                    <div class="card">
                      <button type="button" data-toggle="modal" data-target="#lst"><img class="card-img-top" src="{% static 'img/logo.png' %}" alt="log"></button>
                        <div class="card-body">
                            <h4 class="card-title">{{ list.user }}</h4>
                            <p class="card-text">{{ list.content }}</p>
                        </div>
                    </div>
                </div>

                <div class="modal" id="lst">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>

                          <div class="modal-body">
                              <img class="card-img-top" src="{% static 'img/logo.png' %}" alt="log">
                              {{ list.content }}
                          </div>

                          <div class="modal-footer">
                              <p>해시태그</p>
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}
        </div>    
    </div>
  {% else %}   
{% endif %} 

{% endblock %}