<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/start.css' %}">
    <meta charset="utf-8">
    <title>글길</title>
  </head>
  <body>
    <div class="container-fluid">
      <div id="il"></div>
      <div class="center-block" id="text">
        <div class="center-block" id="box">
          <div class="img-responsive center-block" id="log">
            <img src="{% static 'img/logo_white.png' %}" alt="logo">
          </div>
          <div class="center-block" id="fonl">
            <p id="fon">글로써 삶의 길을 살아가자</p>
          </div>
        </div>
        <div class="center-block" id="buu">
          <a href="{% url 'main' %}"><button type="button">시작하기</button></a>
        </div>
      </div>
    </div>
  </body>
</html>