.authError {
    padding: 50px;
    text-align: center;
    color: red;
}

.login {
    position: relative;
    height: calc(100vh - 90px);

    color: #ffffff;

    .brown {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        background: #484841;

        .register_box {
            padding: 100px 40px;
            float: left;

            .text1 {
                margin-bottom: 10px;

                font: {
                    size: 40px;
                    weight: bold;
                }
            }

            .text2 {
                padding: 20px 0;
            }

            .link {
                margin: 0 24px;
                padding: 5px 50px;
                border: 2px solid #ffffff;
                border-radius: 5px;

                &:hover {
                    background-color: #ffffff;
                    color: #484841;
                    transition: background-color 1s ease-out;
                }
            }
        }

        .login_contain {
            position: absolute;
            top: -50px;
            right: 40px;
            float: right;
            width: 70%;
            height: 500px;
            padding: 50px 100px;
            background: #ffffff;
            border: 1px solid #484841;
            color: #000000;

            font: {
                size: 30px;
                weight: bold;
            }

            .login_box {
                margin-top: 50px;

                .login_input {
                    width: 100%;
                    margin-top: 40px;
                    font-size: 20px;

                    border: {
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 1px solid black;
                    }
                }

                .login_button {
                    width: 100%;
                    margin-top: 70px;
                    padding: 5px 10px;
                    border: 3px solid #484841;
                    border-radius: 10px;
                    background-color: #ffffff;
                    font-size: 20px;
                    cursor: pointer;

                    &:hover {
                        background-color: #484841;
                        color: #ffffff;
                        transition: background-color 1s ease-out;
                    }
                }
            }
        }
    }
}

.register_container {
    height: calc(100vh - 90px);

    .brown {
        position: absolute;
        width: 75%;
        height: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #484841;

        .input_box {
            position: absolute;
            top: -50px;
            left: 140px;
            width: 70%;
            height: 500px;
            padding: 30px 50px;
            background-color: #ffffff;

            .text1 {
                font: {
                    size: 30px;
                    weight: bold;
                }
            }

            .register_input {
                width: 100%;
                margin-top: 40px;
                font-size: 20px;

                border: {
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 1px solid black;
                }
            }

            .register_button {
                width: 100%;
                margin-top: 70px;
                padding: 5px 10px;
                border: 3px solid #484841;
                border-radius: 10px;
                background-color: #ffffff;
                font-size: 20px;
                cursor: pointer;

                &:hover {
                    background-color: #484841;
                    color: #ffffff;
                    transition: background-color 1s ease-out;
                }
            }
        }
    }
}