.detail {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    background: #ffffff;
    transform: translate(-50%, -50%);

    .detail_img {
        float: left;
        height: 100%;

        img {
            height: 100%;
        }
    }

    .detail_content {
        position: relative;

        .detail_wrapper {
            padding: 10px;
        }

        .menu {
            float: right;
            cursor: pointer;

            .optionMenu {
                li {
                    text-align: center;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .detail_person {
            img {
                display: inline-block;
                padding: 5px 15px 0 0;
            }

            p {
                display: inline-block;
                vertical-align: top;
                padding: 7px 160px 0px 10px;
            }
        }

        .detail_text {
            vertical-align: middle;
            padding: 20px 0;
        }

        .detail_star {
            width: 100%;

            border: {
                top: 1px solid gray;
                bottom: 1px solid gray;
            }

            img {
                display: inline-block;
            }

            .detail_contents_box {
                display: inline-block;
                width: 50%;

                padding: 5px;
                border-right: 1px solid gray;

                &:last-child {
                    border: 0;
                }

                p {
                    text-align: center;
                    cursor: pointer;

                    span {
                        vertical-align: top;

                        padding: {
                            top: 20px;
                            left: 10px;
                        }
                    }

                    .like_on {
                        display: none;
                    }

                    &:hover {
                        .like_on {
                            display: inline-block;
                        }

                        .like_off {
                            display: none;
                        }
                    }
                }
            }
        }

        .detail_comments_box {
            span,
            input,
            p {
                display: inline-block;
            }

            .detail_comments_content {
                padding-top: 5px;

                span {
                    padding-right: 10px;
                }

                p {
                    vertical-align: top;
                    padding: 5px;
                    background: #f2f3f5;
                }
            }
        }

        .detail_comments_input {
            position: relative;

            .detail_comments_wrapper {
                // position: absolute;
                // top: 123px;
                // left: 0;
                // right: 0;
                padding: 10px 7px;
                background: #f2f3f5;

                img {
                    float: left;
                }

                input {
                    vertical-align: top;
                    float: right;
                    width: 80%;
                    padding: 5px;
                    border-radius: 15px;
                }

                &::after {
                    display: table;
                    content: "";
                    clear: both;
                }
            }
        }
    }
}

.curtain {
    position: fixed;
    z-index: 998;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}
