.nav {
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    height: 90px;
    font-family: "baloo";
    font-size: 20px;
    background: #ffffff;

    .logo {
        width: 72px;
        float: left;
        padding: 20px 0;
    }

    .side_menu {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        padding: 20px;
        cursor: pointer;
    }

    .navbar {
        li {
            float: right;
            margin-left: 15px;
            line-height: 5;

            &:last-child {
                margin: 0;
            }

            &:hover {
                color: #395e98;
                text-decoration: underline;
            }

            span {
                cursor: pointer;
            }

            .nim {
                font-weight: bold;
            }
        }
    }

    .side_navbar {
        ul {
            transform: rotate(180deg);

            li {
                transform: rotate(-180deg);
            }
        }
    }

    .open_menu {
        display: none;
    }
}

.hidden_header {
    height: 90px;
}