@import "./Header.scss";
@import "./reset.css";
@import "./Main.scss";
@import "./Auth.scss";

@font-face {
    font-family: "baloo";
    src: url("../lib/fonts/Baloo-Regular.ttf");
}

@font-face {
    font-family: "gothic";
    src: url("../lib/fonts/NanumGothic.ttf");
}

body {
    background-color: #f1f1f1;
    font: {
        family: "gothic";
        size: 20px;
    }
}

.inner {
    position: relative;
    width: 1180px;
    margin: 0 auto;
}
