@charset "utf-8";
@import "./Header.scss";
@import "./reset.css";
@import "./Main.scss";
@import "./Auth.scss";
@import "./Detail.scss";
@import "./Write.scss";
@import "./Media.scss";

@font-face {
    font-family: "baloo";
    src: url("../lib/fonts/Baloo-Regular.ttf");
}

@font-face {
    font-family: "gothic";
    src: url("../lib/fonts/NanumGothic.ttf");
}

body {
    background-color: #f1f1f1;

    font: {
        family: "gothic";
        size: 20px;
    }
}

.inner {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
}

.display_none {
    display: none;
}