.write {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    padding: 16px;
    transform: translate(-50%, -50%);
    background: #293a54;

    h1 {
        padding: 10px 0;
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;

        span {
            font-size: 16px;
        }
    }

    .write_img_box {
        position: relative;
        float: left;

        img {
            margin: 0 auto;
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            border: 0px;
            background: rgba(255, 255, 255, 0);
            font-size: 20px;
            text-align: center;
            color: white;
            transform: translate(-50%, -50%);
        }

        .input_box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            textarea {
                overflow: hidden;
                width: 460px;
                min-height: 50px;
                max-height: 415px;
                border: none;
                color: white;
                font-size: 20px;
                text-align: center;
                background: rgba(255, 255, 255, 0);
                resize: none;
            }

            ::placeholder {
                color: white;
            }
        }
    }

    .write_text_box {
        position: relative;
        float: right;

        .input_box {
            width: 100%;
            padding-left: 16px;
            margin: 0 auto;

            textarea {
                width: 100%;
                min-height: 415px;
                max-height: 415px;
                resize: none;
            }

            button {
                width: 100%;
            }
        }
    }
}