.write {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
    background: #293a54;

    h1 {
        padding: 10px 0;
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;

        span {
            font-size: 16px;
        }
    }

    .write_img_box {
        position: relative;
        float: left;

        img {
            margin: 0 auto;
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            border: 0px;
            background: rgba(255, 255, 255, 0);
            font-size: 20px;
            text-align: center;
            color: white;
            transform: translate(-50%, -50%);
        }

        .input_box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            textarea {
                overflow: hidden;
                width: 460px;
                min-height: 50px;
                max-height: 415px;
                border: none;
                color: white;
                font-size: 20px;
                text-align: center;
                background: rgba(255, 255, 255, 0);
                resize: none;
            }

            ::placeholder {
                color: white;
            }
        }
    }

    .write_text_box {
        position: relative;
        float: right;

        .input_box {
            width: 100%;
            padding-left: 5px;
            margin: 0 auto;

            textarea {
                width: 100%;
                min-height: 415px;
                max-height: 415px;
                resize: none;
            }

            button {
                position: relative;
                width: 100%;
                border: none;
                cursor: pointer;
                background: #ffffff;

                transition: color 1ms 0.3s;

                &:before,
                &:after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    z-index: -1;

                    width: 0;
                    height: 100%;

                    transition: width 0.8s cubic-bezier(0.4, 0, 0.2, 1);
                }

                &:hover {
                    z-index: 9;
                    color: #ffffff;

                    &:after {
                        width: 100%;
                        background: rgba(109, 130, 189, 0.911);
                    }
                }
            }
        }
    }
}