.container-fluid {
    width: 100%;
    height: 700px;
    background-color: blue;
    background-image: url(/img/back.png);
    background-size: cover;
}

#up {
    width: 1168px;
    height: 110px;
    /*background-color: red;*/
    border-bottom: 2px solid #ffffff;
}

#log_w {
    margin-left: 54px;
    margin-top: 19px;
}

#nav {
    position: relative;
    bottom: 27px;
    float: right;
    height: 42px;
}

#nav a {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    color: #000000;
    list-style: none;
    text-decoration: none;
    float: right;
    margin-right: 34px;
}

#l1 {
    margin-right: 93px;
    width: 50px;
    height: 15px;
}

#l2 {
    width: 65px;
    height: 15px;
}

#l3 {
    width: 50px;
    height: 15px;
}

#down {
    width: 100%;
    height: 600px;
}

#box {
    margin-top: 61px;
    width: 345px;
    height: 345px;
    border: 5px solid #ffffff;
}

#text {
    margin-top: 120px;
    text-align: center;
    width: 253px;
    height: 96px;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: #ffffff;
    text-shadow:  0 0 10px #6c6c6c;
}